---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: jellyfin
spec:
  chartRef:
    kind: OCIRepository
    name: jellyfin
  interval: 1h
  dependsOn:
    - name: intel-device-plugin-gpu
      namespace: kube-system
  values:
    controllers:
      jellyfin:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/jellyfin/jellyfin
              tag: 10.11.5@sha256:cd7e4cb71812dd76988a725da615e37c6d0d24c200be904ad5d183e51f1dc6ed
            env:
              TZ: America/New_York
              JELLYFIN_PublishedServerUrl: https://jellyfin.dovis.me
            probes:
              startup:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: &port 8096
                  failureThreshold: 30
                  periodSeconds: 5
                  timeoutSeconds: 5
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: *port
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 6
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: *port
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 6
            resources:
              requests:
                cpu: 200m
                memory: 2Gi
                gpu.intel.com/i915: 1
              limits:
                cpu: 1
                memory: 20Gi
                gpu.intel.com/i915: 1
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: { drop: ["ALL"] }
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        type: ClusterIP
        ports:
          http:
            port: *port
    # service:
    #   app:
    #     type: LoadBalancer
    #     annotations:
    #       lbipam.cilium.io/ips: 10.13.17.60
    #     externalTrafficPolicy: Local
    #     ports:
    #       http:
    #         port: *port
    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            conditions: ["[STATUS] == 401"]
        hostnames:
          - "{{ .Release.Name }}.dovis.me"
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
        - backendRefs:
            - name: jellyfin
              port: *port
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
      media:
        type: nfs
        server: com-plex-ity.dovis.me
        path: /seagate-data
        globalMounts:
          - path: /data/media
            subPath: media
            readOnly: true
      tmp:
        type: emptyDir
        sizeLimit: 1Gi
        globalMounts:
          - path: /tmp
      transcode:
        enabled: true
        type: emptyDir
        medium: Memory
        sizeLimit: 16Gi
        globalMounts:
          - path: /transcode
      cache:
        type: emptyDir
        sizeLimit: 5Gi
        globalMounts:
          - path: /cache