apiVersion: v1
kind: ConfigMap
metadata:
  name: cross-seed-config
  namespace: default
data:
  config.js: |-
    function fetchIndexers(baseUrl, apiKey, tag){
      const buffer = require('child_process').execSync(
        'curl -fsSL "' + baseUrl + '/api/v1/tag/detail?apikey=' + apiKey + '"'
      );
      const response = JSON.parse(buffer.toString('utf8'));
      const indexerIds = (response.filter(t => t.label === tag)[0]?.indexerIds) ?? [];
      const indexers = indexerIds.map(i => baseUrl + '/' + i + '/api?apikey=' + apiKey);
      console.log('Loaded ' + indexers.length + ' indexers from Prowlarr');
      return indexers;
    }

    module.exports = {
      action: "inject",
      apiKey: process.env.CROSS_SEED_API_KEY,
      blockList: ["category:manual"],
      linkCategory: "cross-seed",
      linkDirs: ["/data/torrents/cross-seed"],
      linkType: "hardlink",
      matchMode: "partial",
      port: Number(process.env.CROSS_SEED_PORT),
      skipRecheck: true,

      radarr: [
        "http://radarr.default.svc.cluster.local/?apikey=" + process.env.RADARR__AUTH__APIKEY
      ],
      sonarr: [
        "http://sonarr.default.svc.cluster.local/?apikey=" + process.env.SONARR__AUTH__APIKEY
      ],

      torrentClients: ["qbittorrent:http://qbittorrent.default.svc.cluster.local:80"],
      torznab: fetchIndexers(
        "http://prowlarr.default.svc.cluster.local",
        process.env.PROWLARR__AUTH__APIKEY,
        "cross-seed"
      ),
      useClientTorrents: true
    };