# yaml-language-server: $schema=https://kubernetesjsonschema.dev/v1.18.1-standalone-strict/secret-v1.json
apiVersion: v1
kind: Secret
metadata:
  name: cross-seed-secret
stringData:
  CROSS_SEED_API_KEY: ENC[AES256_GCM,data:Sqw63oqFaZHQkXen0EncNVCbobnTqOzaCxICg1E0ThI=,iv:2fLbTgxzcruulRZFq+vlf2bEC03a/zUmWvCyjclPUgQ=,tag:drmg7BUJkhZ1qC3pHFAllw==,type:str]
sops:
  age:
    - recipient: age185x77qt802d3arg3f5sdcl25ek4v3rmvtzjhe6pcezy72p0kv3asjfe20k
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB5WXFiNkwzLzZSL3UxVGNG
        RVNldXd3MEE2djdISGM3eXdtWUZ2MWlVUkNFCmVCZ21TQUk0dlM5aGtvRjVQZ2Ns
        bkxIZW1FMjlCK25ZYmdLZHltRnBkb1kKLS0tIHYzbXNXUFc5Z2hObnRVK2JNTU9n
        Sm1LZUJIaVBCRkk2dThvNWhUZXlDWFkKip3b+V8zX7FHKJFAlADAbcjLJVqgQ+pQ
        4j086q6zeiU/BarIvSrMm0E80qPN3lInns3lk5nCMp5OwQ9gVQ9jIw==
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2025-12-05T15:56:00Z"
  mac: ENC[AES256_GCM,data:dqyTZRFw1swycUHFj7IMznkX70SEeMUk7ehxmWi/R/ZLj6O+a5xpFhwI+Hs1gyA0O7Rz07KbwOKsUE+r91lepBrwhspUNQaJYsVhE9kRLuG6WNVGHZHJja1nJ8IqYmK5yxJS3ZvFM/KZ4J4jJUM7WF0G3M9yyYLw2/7APn8zgVA=,iv:Wz1qwQzirI7jbc+WbNYK0G2XFjFsQkf0kpR36tekJyU=,tag:0Q6gF8GlOYfPTxXdqEhu4w==,type:str]
  encrypted_regex: ^(data|stringData)$
  mac_only_encrypted: true
  version: 3.10.2

  config.js: |-
    function fetchIndexers(baseUrl, apiKey, tag){
      const buffer = require('child_process').execSync(`curl -fsSL "$${baseUrl}/api/v1/tag/detail?apikey=$${apiKey}"`);
      const response = JSON.parse(buffer.toString('utf8'));
      const indexerIds = response.filter(t => t.label === tag)[0]?.indexerIds ?? [];
      const indexers = indexerIds.map(i => `$${baseUrl}/$${i}/api?apikey=$${apiKey}`);
      console.log(`Loaded $${indexers.length} indexers from Prowlarr`);
      return indexers;
    }
    module.exports = {
      action: "inject",
      apiKey: "{{.CROSS_SEED_API_KEY}}",
      blockList: ["category:manual"],
      linkCategory: "cross-seed",
      linkDirs: ["/seagate-data/torrents/cross-seed"],
      linkType: "hardlink",
      matchMode: "partial",
      port: Number(process.env.CROSS_SEED_PORT),
      skipRecheck: true,
      radarr: ["http://radarr.default.svc.cluster.local/?apikey=$${process.env.RADARR__AUTH__APIKEY}"],
      sonarr: ["http://sonarr.default.svc.cluster.local/?apikey=$${process.env.SONARR__AUTH__APIKEY}"],
      torrentClients: ["qbittorrent:http://qbittorrent.default.svc.cluster.local:8080"],
      torznab: fetchIndexers("http://prowlarr.default.svc.cluster.local", process.env.PROWLARR__AUTH__APIKEY, "cross-seed"),
      useClientTorrents: true
    };
