# yaml-language-server: $$schema=https://kubernetesjsonschema.dev/v1.18.1-standalone-strict/secret-v1.json
apiVersion: v1
kind: Secret
metadata:
  name: cross-seed-secret
stringData:
  CROSS_SEED_API_KEY: ENC[AES256_GCM,data:qCLD8Vsh72D7EzuLq24dBD90cb0h7fk2aYUhFaQ8vSQ=,iv:VJNCLtuGQ3bp2ZJtCZsQyZQtqwn27B5uG2kcZlkqMIU=,tag:IsNKLF4iaSMJyPSkGBacBA==,type:str]
sops:
  age:
    - recipient: age185x77qt802d3arg3f5sdcl25ek4v3rmvtzjhe6pcezy72p0kv3asjfe20k
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBmL0lhTVhTNnk4dkYrUUhi
        Z0MvWWl5bTFRSzBGTzY0VWtEY3d2a3kvbjBzCjFOaWZBRzJ2VDNiMU1NSVdhN283
        UFN6TzhCTVdZdzh3U0RBZ1NaaHhTTjgKLS0tIGpORWlZN0pNaUpFdEUvcWdVbXZq
        d0JHeWRFS1hlSENRQm1VVEltS0FsVHMKcQIVKnE2UFc5w/ZQmQHBuV4TGEftz39C
        movkL+Tl6dYjkC798+5JPBdEIFJfGIlQcdCm6joMcrwdKjCdntVkFA==
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2025-12-08T19:56:54Z"
  mac: ENC[AES256_GCM,data:DdUngRswwhDrE1Y7r5yWmqEkOieSXAFjwtk8C7E+lTkszrdzVMQ08hBpBjz16nqczpqcuAqntEp+iXVPIwp4L7dnu8xblAcNvaQcmE6BS2hZUhSP+emDdIQWLXRa/9RrbHIS2BGvQnvgCAvJL2SMDMVmNIsvTMTTpWh8BcK2bbA=,iv:4vBh/4AH2Ydjbfk/H8NTkKUd3+uNjZfuzGXY8Vmkim0=,tag:ZZnl3eMQfxElAixtLvztvA==,type:str]
  encrypted_regex: ^(data|stringData)$
  mac_only_encrypted: true
  version: 3.10.2
