# yaml-language-server: $$schema=https://kubernetesjsonschema.dev/v1.18.1-standalone-strict/secret-v1.json
apiVersion: v1
kind: Secret
metadata:
  name: cross-seed-secret
stringData:
  CROSS_SEED_API_KEY: ENC[AES256_GCM,data:Tpd17krpb7+CZgykCUeSM5RV7uEAKgboGbdaVq7OPIg=,iv:Ig49C9bzR6UOLX0CisemwBCW/ynEsDVZA290kpEwCjU=,tag:0uU67/7d00Qvy2yZcgsduw==,type:str]
sops:
  age:
    - recipient: age185x77qt802d3arg3f5sdcl25ek4v3rmvtzjhe6pcezy72p0kv3asjfe20k
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBUbCtaMDBsQTZvVkUzMFNO
        SFVCTFprRWFyWWhJbWRXUXdnY2E0RlJnN1VRCjBoNTJCVDZIYS9hZ3JnL1ZlUS8w
        SXhkdW9VaEFwb1AxY2VFSmFyN1p5SUkKLS0tIGZNbzlacE9LcWZvUndRa3VrMzhK
        OFU2WmlhWkZUSzNBWGltSWM5aU5BMDgK2p216fSd0x88YzfswGwhHe+N2O6ayZtV
        HoZVSRouNyMD3yeJ/nmkEYvcXXKStEFgea4JdKX2v/QTQy8KpMgosg==
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2025-12-08T19:53:17Z"
  mac: ENC[AES256_GCM,data:RqTUuRBloi2w0uIbvXVi9B3lQ95UzldKSqW/neCoy6ugH0vMKaCqinA81pj/+Ctx3yJRPa1L8wJrY2b1WbEkGOsQ7eaGdpimK9MiCydePTl/JqeK5ywGapd7RmrUkgN6dhfKHMovJJzucyuTiEzrA6f20C3VI8dM0xUs85niKXk=,iv:iKLiHYB/j3bBMfhgp8Rzl33ADWSqtZjk48+Vm/tN/Wo=,tag:s8hs9gkw6gNMk6FmvMqpaA==,type:str]
  encrypted_regex: ^(data|stringData)$
  mac_only_encrypted: true
  version: 3.10.2
