# Secrets
*.pub
*.key
*.decrypted~*
*.crt
*.pem
/cloudflare-tunnel.json
/github-push-token.txt
# Kubernetes
kubeconfig
talosconfig
# Misc.
.private/
.venv/
.DS_Store
Thumbs.db
/known_hosts
.claude/
/docs/
*.iso
