---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: minecraft-java
  namespace: games
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 50Gi
  storageClassName: ceph-block