---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: trilium
spec:
  chartRef:
    kind: OCIRepository
    name: trilium
  interval: 1h
  values:
    controllers:
      trilium:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/triliumnext/trilium
              tag: v0.102.0@sha256:ced97a926b6f3fcde86e26e4319b97686426cb4fc27e85c4fc35bf6150ce64f8
            command: ["node", "./main.cjs"]
            env:
              TZ: America/New_York
              TRILIUM_GENERAL_INSTANCE_NAME: k8s-notes
              TRILIUM_ENV: production
              TRILIUM_NETWORK_PORT: &port 80
              TRILIUM_DATA_DIR: /data
              USER_UID: 1000
              USER_GID: 1000
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/health-check
                    port: *port
                  initialDelaySeconds: 30
                  periodSeconds: 30
                  timeoutSeconds: 10
                  failureThreshold: 3
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/health-check
                    port: *port
                  initialDelaySeconds: 10
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 3
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
              limits:
                cpu: "1"
                memory: 512Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: Always
        seccompProfile: { type: "RuntimeDefault" }
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.dovis.me"
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      data:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - subPath: data
            path: /data
      tmp:
        type: emptyDir
        medium: Memory
        sizeLimit: 16Mi