---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: seerr
  namespace: default
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: ceph-block