---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: radarr
  namespace: default
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
  storageClassName: ceph-block