---
# yaml-language-server: $schema=https://raw.githubusercontent.com/recyclarr/recyclarr/master/schemas/config-schema.json
sonarr:
  sonarr:
    base_url: http://sonarr.default.svc.cluster.local
    api_key: !env_var SONARR_API_KEY
    delete_old_custom_formats: true
    replace_existing_custom_formats: true
    include:
      - template: sonarr-quality-definition-series
      - template: sonarr-v4-quality-profile-web-1080p
      - template: sonarr-v4-custom-formats-web-1080p
      # - template: sonarr-v4-quality-profile-web-2160p-alternative
      # - template: sonarr-v4-custom-formats-web-2160p
      - template: sonarr-quality-definition-anime
      - template: sonarr-v4-quality-profile-anime
      - template: sonarr-v4-custom-formats-anime
    quality_profiles:
      - name: WEB-1080p
        reset_unmatched_scores:
          enabled: true
        qualities:
          - name: Bluray-1080p
          - name: WEB 1080p
            qualities:
              - WEBDL-1080p
              - WEBRip-1080p
          - name: HDTV-1080p
          - name: Bluray-720p
          - name: WEB 720p
            qualities:
              - WEBDL-720p
              - WEBRip-720p
          - name: HDTV-720p
          - name: Bluray-480p
          - name: DVD
          - name: WEB 480p
            qualities:
              - WEBDL-480p
              - WEBRip-480p
          - name: SDTV

      # - name: WEB-2160p # Saving for future use.
      #   reset_unmatched_scores:
      #     enabled: true
      #   qualities:
      #     - name: Bluray-2160p
      #     - name: WEB 2160p
      #       qualities:
      #         - WEBDL-2160p
      #         - WEBRip-2160p
      #     - name: HDTV-2160p
      #     - name: Bluray-1080p
      #     - name: WEB 1080p
      #       qualities:
      #         - WEBDL-1080p
      #         - WEBRip-1080p
      #     - name: HDTV-1080p
      #     - name: Bluray-720p
      #     - name: WEB 720p
      #       qualities:
      #         - WEBDL-720p
      #         - WEBRip-720p
      #     - name: HDTV-720p
      #     - name: Bluray-480p
      #     - name: DVD
      #     - name: WEB 480p
      #       qualities:
      #         - WEBDL-480p
      #         - WEBRip-480p
      #     - name: SDTV

      - name: Remux-1080p - Anime
        min_format_score: 0
        reset_unmatched_scores:
          enabled: true

    custom_formats:
      - trash_ids:
          - 32b367365729d530ca1c124a0b180c64 # Bad Dual Groups
          - 82d40da2bc6923f41e14394075dd4b03 # No-RlsGroup
          - e1a997ddb54e3ecbfe06341ad323c458 # Obfuscated
          - 06d66ab109d4d2eddb2794d21526d140 # Retags
          - 1b3994c551cbb92a2c781af061f4ab44 # Scene
        assign_scores_to:
          - name: WEB-1080p
      - trash_ids:
          - 418f50b10f1907201b6cfdf881f467b7 # Anime Dual Audio
        assign_scores_to:
          - name: Remux-1080p - Anime
      - trash_ids:
          - 9c14d194486c4014d422adc64092d794 # Dubs Only
        assign_scores_to:
          - name: Remux-1080p - Anime
            score: 0
      - trash_ids:
          - 47435ece6b99a0b477caf360e79ba0bb # x265
        assign_scores_to:
          - name: WEB-1080p
            score: 0
          # - name: WEB-2160p
          #   score: 0
          - name: Remux-1080p - Anime
            score: 0

radarr:
  radarr:
    base_url: http://radarr.default.svc.cluster.local
    api_key: !env_var RADARR_API_KEY
    delete_old_custom_formats: true
    replace_existing_custom_formats: true
    quality_profiles:
      - name: SQP-1 (2160p)
    include:
      - template: radarr-quality-definition-sqp-streaming
      - template: radarr-quality-profile-sqp-1-2160p-default
      - template: radarr-custom-formats-sqp-1-2160p
    custom_formats:
      - trash_ids:
          - 839bea857ed2c0a8e084f3cbdbd65ecb # x265 (no HDR/DV)
        assign_scores_to:
          - name: SQP-1 (2160p)
            score: 0
      - trash_ids:
          - b6832f586342ef70d9c128d40c07b872 # Bad Dual Groups
          - cc444569854e9de0b084ab2b8b1532b2 # Black and White Editions
          - ae9b7c9ebde1f3bd336a8cbd1ec4c5e5 # No-RlsGroup
          - 7357cf5161efbf8c4d5d0c30b4815ee2 # Obfuscated
          - 5c44f52a8714fdd79bb4d98e2673be1f # Retags
          - f537cf427b64c38c8e36298f657e4828 # Scene
        assign_scores_to:
          - name: SQP-1 (2160p)